body {
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    background-color: rgb(40, 184, 40);
    height: 50px;
    text-align: center;
    padding: 10px;
    font-size: 3rem;
    color: #fff;
}

.menu {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgb(51, 218, 51);
    top: 70px;
    color: #fff;
    padding-left: 20px;
}

.menu-list {
    padding: 0;
}

.menu-item {
    display: inline;
    border-right: 1px solid white;
    padding: 5px 20px;
    transition: 0.5s;
}

.menu-link {
    color: #fff;
    text-decoration: none;
}

.menu-item:hover {
    background-color: rgb(40, 184, 40);
}

.cart {
    position: absolute;
    right: 70px;
    top: 10px;
    border: 1px solid white;
    font-weight: bold;
}

.content {
    margin-top: 140px;
    }

.item {
    position: relative;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 30px;
    width: 370px;
    height: 550px;
    transition: 0.5s;
    display: inline-block;
    margin: 25px 50px;
}

.item:hover {
    box-shadow: 4px 10px 10px rgba(0,0,0,0.3);
}

.item-img {
    margin: auto;
    width: 300px;
    height: 300px;
    background-image: url("https://itproger.com/img/courses/1476977240.jpg");  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: 40px;
    margin-bottom: 15px;
}

/* .img-cover img {
	object-fit: cover; 
	width: 100%;
    height: 100%;
} */

.item-title {
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: bold;
    
}

.item-btn {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.btn {
    width: 300px;
    height: 40px;
    background-color: #666cff;
    border: 0;
    border-radius: 30px;
    font-size: 16px;
    transition: 1s;
}

.btn:hover {
    border: #666cff solid 3px;
    background-color: #fff; 
}        

.footer {
    position: relative;
    width: 100%;
    background-color: dimgray;
    color: white;
    padding: 20px 40px;
 }